body{
    align-items: center;
    margin: 0;
    background: #83d06e;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg_inicial_img{
    width: 35vw;
    outline: none;
    font-size: 3vw;
}


